* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #6667ab;
}

.App .todo_list {
    display: flex;
    width: 100%;
}

.App .todo_list .side_menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    width: 20%;
    margin-left: 20px;
}

.App .todo_list .side_menu div {
    color: var(--primary-color);
    font-size: 2rem;
    opacity: 0.5;
    cursor: pointer;
}

.App .todo_list .side_menu div:hover {
    opacity: 1;
}

.App .todo_list .side_menu div.active {
    opacity: 1;
}

.App .todo_list .tasks {
    flex-grow: 1;
}